<div class="row">
  <div class="top-wrapper">
    <ul class="slider">
        <li><img src="assets/interior.png" alt="image01"></li>
        <li><img src="assets/log-house.png" alt="image02"></li>
        <li><img src="assets/sea-view.jpg" alt="image03"></li>
        <li><img src="assets/japan-window.jpg" alt="image04"></li>
        <li><img src="assets/modern.jpg" alt="image05"></li>
    </ul>
    <p>Room Design Library</p>
  </div>

    <div class="field">
      <div class="col-md-12">
        <div class="col-md-5">
          <h3 class="sort-type"><%= @sort %></h3>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-1">
          <div class="dropdown-sort">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              並び替え <b class="caret"></b>
            </a>
            <ul class="dropdown-menu sort-menu">
              <li><%= link_to "新着順", root_path(sort:"new") %></li>
              <li><%= link_to "いいね順", root_path(sort:"like") %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="inline-block-post jscroll">
      <%= render @microposts %>
      <%= paginate @microposts %>
    </ul>
</div>
