<%= f.label :sea, class: "checkbox inline" do %>
  <%= f.check_box :sea %>
<span>海</span>
<% end %>

<%= f.label :antique, class: "checkbox inline" do %>
  <%= f.check_box :antique %>
<span>アンティーク</span>
<% end %>
<%= f.label :modern, class: "checkbox inline" do %>
  <%= f.check_box :modern %>
<span>モダン</span>
<% end %>
<%= f.label :simple, class: "checkbox inline" do %>
  <%= f.check_box :simple %>
<span>シンプル</span>
<% end %>
<%= f.label :north, class: "checkbox inline" do %>
  <%= f.check_box :north %>
<span>北欧</span>
<% end %>
<%= f.label :japan, class: "checkbox inline" do %>
  <%= f.check_box :japan %>
<span>和</span>
<% end %>
<%= f.label :girly, class: "checkbox inline" do %>
  <%= f.check_box :girly %>
<span>ガーリー</span>
<% end %>
