<%= f.label :private, class: "checkbox inline" do %>
  <%= f.check_box :private %>
<span>一人暮らし</span>
<% end %>
<%= f.label :living, class: "checkbox inline" do %>
  <%= f.check_box :living %>
<span>リビング</span>
<% end %>
<%= f.label :bed, class: "checkbox inline" do %>
  <%= f.check_box :bed %>
<span>ベッドルーム</span>
<% end %>
<%= f.label :kitchen, class: "checkbox inline" do %>
  <%= f.check_box :kitchen %>
<span>キッチン</span>
<% end %>
<%= f.label :bath, class: "checkbox inline" do %>
  <%= f.check_box :bath %>
<span>浴室、トイレ</span>
<% end %>
<%= f.label :entrance, class: "checkbox inline" do %>
  <%= f.check_box :entrance %>
<span>玄関</span>
<% end %>
<%= f.label :balcony, class: "checkbox inline" do %>
  <%= f.check_box :balcony %>
<span>ベランダ</span>
<% end %>
